import(locfit)
import(lattice)
import(latticeExtra)
import(grid)
import(xlsx)
importFrom("grDevices", "colorRampPalette", "dev.new", "dev.off","gray", "png")
importFrom("graphics", "legend", "plot", "points")
importFrom("stats", "coef", "constrOptim", "fitted", "glm", "lm","pchisq", "pnorm", "poisson", "predict", "qchisq", "qnorm","quantile", "rpois")
exportPattern("^[[:alpha:]]+")
